

.drumpad {
    display: inline-block;
    height: 150px;
    width: 150px;
    background: lightgrey;
    border-radius: 5px;
    text-align: left;
    padding: 0px 10px;
    margin: 10px 0;
    font-family: sans-serif;
    font-size: -webkit-xxx-large;
    box-sizing: border-box;
    transition: all 0.5s linear;
}

.drumpad.active {
    background: darkgray;
    transition: all 0s linear;
}