.app p {
    color: blue;
}

.app div {
    display: inline-block!important;
}

.container {
    width: 46%;
}

.toDo {
    background-color: #fbfbfb;
    border: solid 1px lightgray;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
}

.task {
    padding-top: 5px;
}